---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for page in collections.all %}
    {%- if not page.data.excludeFromSitemap %}
    <url>
      <loc>https://onlineyogaclass.in{% if page.url == '/' %}/{% else %}{{ page.url | replace(r/\/$/, '') }}{% endif %}</loc>
      <lastmod>{{ page.date.toISOString() if page.date.toISOString else page.date }}</lastmod>
      <changefreq>{% if page.url == '/' %}daily{% else %}{{ page.data.changefreq or "weekly" }}{% endif %}</changefreq>
      <priority>{% if page.url == '/' %}1.0{% else %}{{ page.data.priority or "0.8" }}{% endif %}</priority>
    </url>
    {%- endif %}
  {%- endfor %}
</urlset>